name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build builder image (stage=builder)
        uses: docker/build-push-action@v6
        with:
          context: .
          target: builder
          tags: ${{ secrets.REGISTRY_URL }}/flask-devops:builder
          push: false

      - name: Run test stage (pytest)
        uses: docker/build-push-action@v6
        with:
          context: .
          target: test
          tags: ${{ secrets.REGISTRY_URL }}/flask-devops:test
          push: false

      - name: Build and push final image
        uses: docker/build-push-action@v6
        with:
          context: .
          target: final
          tags: ${{ secrets.REGISTRY_URL }}/flask-devops:latest
          push: true

  codeql:
    name: CodeQL
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: python

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
